{{ if .Site.Params.contact.enable }}
    {{"<!-- Contact Section -->" | safeHTML}}
    <section id="{{ i18n "contact" | urlize }}" class="section contact">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="block">
                        <div class="heading wow fadeInUp">
                            {{ with .Site.Params.contact.title }}
                            <h2>{{ . }}</h2>
                            {{ end }}
                            {{ with .Site.Params.contact.subtitle }}
                                <p>{{ . }}</p>
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <a href="https://www.instagram.com/clemence.wine.consultant/" target="_blank">
                        <img src="svg/instagram.svg" alt="Instagram" style="width: 50%;display: block;margin: auto;">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <a href="https://www.linkedin.com/in/loiseau-deray-clemence/?locale=en_US" target="_blank">
                        <img src="svg/linkedin.svg" alt="LinkedIn" style="width: 50%;display: block;margin: auto;">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <a href="mailto:clemence.wine.consultant@gmail.com" target="_blank">
                        <img src="svg/envelope.svg" alt="Email" style="width: 50%;display: block;margin: auto;">
                    </a>
                </div>
            </div>
        </div>
    </section>
{{ end }}
